.background-img{
    background-position-y: 70px;
    background-repeat: repeat;
}

.name  {
    font-size: 30px !important;

}
.owl-item{
    margin-top: 30px !important;
}

.background-img {
    background-repeat: no-repeat;
    /*background-image: url("./src/css/emy.jpg");*/
    background-position: 10% 51%;
    background-size: contain;
}